@CHARSET "ISO-8859-1";
/*
* multi-line comment
*/
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 1px;
  padding-bottom: 20px;
}

.right {
	margin-left: 170px;
	width: initial;
}
.cus-title {
    background-color: black;
    color: #fff;
    border-style: solid;
    border-width: 4px 0px 0px 0px;
    border-color: #ff00af;
}
.gap{
    min-height: 100px;
}
.smallgap{
    min-height: 50px;
}
.login-logo {
    min-height: 200px;
    background-color: black;
    border-style: solid;
    border-right-color: #ff00af;
    border-width: 0px 4px 0px 0px;
}
.login-form{
    min-height: 200px;
    background-color: black;
}
.wrap{
    margin-top: 45px;
}
.input-group{
    margin-bottom: 10px;
}
.cus-text{
    color:#fff;
   vertical-align: middle; 
}

.table-layout {
  border-spacing: 0;
  border-collapse: collapse;
}

.th-bg {
    background-color:#000;
    padding: 8px;
}

 /* The side navigation menu */
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 6px;
}
 .navbar-fixed-left {
  width: 200px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 170px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}
.btn-fixed-bottom{
  position: fixed;
  bottom: 0;
  padding-bottom: 5px;
}

.text-align-vertical{
	 vertical-align: middle;
}
.table-welcome{
  width: 100%;
  border: 0px;
}
th.half {
  width: 50%
}
